body {
  font-family: "Comfortaa", cursive;
}
.location-input {
  height: 40px;
  width: 30%;
  min-width: 300px;
  outline: none;
  border: none;
  border-radius: 0 0 15px 15px;
  font-size: 22px;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.6);
  margin-bottom: 30px;
}
.main-wrapper {
  height: 100vh;
  text-align: center;
}
.hot {
  background: rgb(219, 0, 65);
  background: linear-gradient(
    137deg,
    rgba(219, 0, 65, 1) 17%,
    rgba(143, 19, 97, 1) 96%
  );
}
.cold {
  background: rgb(0, 125, 147);
  background: linear-gradient(
    180deg,
    rgba(0, 125, 147, 1) 0%,
    rgba(68, 206, 244, 1) 74%,
    rgba(179, 187, 189, 1) 100%
  );
}
.night {
  background: rgb(0, 0, 0);
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(20, 34, 40, 1) 74%,
    rgba(0, 81, 97, 1) 100%
  );
}
.temperature {
  color: #fff;
  font-size: 50px;
  padding: 20px;
  width: 200px;
  margin: 10px auto;
  background: rgba(255, 255, 255, 0.3);
  border-radius: 15px;
}
.weather-type {
  color: #fff;
  font-size: 20px;
  margin-bottom: 50px;
}
.location,
.curr-time {
  color: #fff;
  font-size: 18px;
  margin-bottom: 10px;
}
.icons {
  font-size: 100px;
  margin-bottom: 20px;
}
